 body{
	
	background-color: #D7AC8B;
	}
	
	#div1{ 
	
	width:410px;
	height:405px;
	
	position:absolute;
	left:-100px;
	top:20%;
	}
	#btn1{
		
		position: absolute;
		left:25%;
		bottom:2px;
	
		
		}
	#btn2{
		
		position: absolute;
		right:5%;
		bottom:2px;
	
		}
	#small{ display:none;}
	#c1, #c2,#c3,#c4,#c5,#c6,#c7,#lazhu1,#lazhu2{transition-timing-function:linear;
 transition: transform  2s;}

